.btn {
  min-width: 80px;
  margin: 20px 10px 0px 0px !important;
  display: inline-block;
}

.nested-div{
  display: inline-block;
}

body {
  margin-top: 50px;
}


.outerwell{
  background-color: rgba(0, 190, 2, 0.3);
  max-width: 500px;
  margin: 0 auto;

}

h1{

  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-family: 'Montserrat';
}

.list-group-item {
  font-family: 'Tinos', serif;
  font-size: 1.2em;
}

.glyphs{
  display: inline-block;
  float: right;
}


.glyphicon {
  font-size: 1.2em;
  margin: 0 2.5px;
}

.glyphicon:hover {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}